include LICENSE
include COPYRIGHT
include psio_test/test_data/hamamatsu_c4880_maxim
include psio_test/test_data/hamamatsu_c4880_maxim/im_cont2_038.tif
include psio_test/test_data/hamamatsu_c4880_maxim/c_02.tif
include psio_test/test_data/info_on_data
include psio_test/test_data/lambda750ksi
include psio_test/test_data/lambda750ksi/Calli_align_00004.ndf
include psio_test/test_data/pilatus1m
include psio_test/test_data/pilatus1m/calib_agbeh_andre_00001_00001.cbf
